xsd_xml/xsd/author.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        targetNamespace="authorNamespace">

    <xs:complexType name="authorType">
        <xs:sequence>
            <xs:element name="full_name" type="xs:string"/>
            <xs:element name="years_of_life" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>