xsd_xml/xsd/librarian.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
        elementFormDefault="qualified"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="librarianNamespace">

    <xs:complexType name="librarianType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="full_name" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>