xsd_xml/xsd/student.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
        elementFormDefault="qualified"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:group="groupNamespace"
        targetNamespace="studentNamespace">

    <xs:import namespace="groupNamespace" schemaLocation="group.xsd"/>

        <xs:complexType name="studentType">
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="full_name" type="xs:string"/>
                <xs:element name="library_card" type="xs:string"/>
                <xs:element name="group" type="group:groupType"/>
            </xs:sequence>
        </xs:complexType>
</xs:schema>